/* Typing effect */

.typed-cursor{
  font-size: 30px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 1s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#type {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
}

.typed-text {
  text-align: center;
  margin: 0 auto;
 /* font-size: 30px;*/
 font-size: 1.5em;
  margin-bottom: 40px;
}

#about {
  display: none;
  font-size: 18px;
}

body {
	font-family: Jura;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*h3, h4, p
{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
*/
img
{
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.icon
{
   font-size: 100px;
   border-radius: 50%;
   border:1px;
}

#contact-icons
{
  text-align: center;
  margin: 0 auto;
  display: block;
}

#linkedin
{
  margin-left:30px;
  margin-right:30px;
}

#github
{
  margin-left:30px;
  margin-right:30px;  
}


#email
{
  margin-left:30px;
  margin-right:30px;  
}

a:hover
{
  text-decoration: none;
}

.img-responsive
{
  vertical-align: center;
}


/* Front end images */

#wiki_screenshot
{
  width: 461px;
  height: 270px;
}

#random
{
  width: 461px;
  height: 270px;
}


/* Open source images */

#expertiza
{
  width: 220px;
  height: 140px;
}

#odin
{
  width: 170px;
  height: 140px;
}

#fcc
{
  width: 200px;
  height: 140px;
}

/*
#lexisnexis
{
  width:200px;
  height: 35px;
 }
*/


.navbar-header a
{
  font-size: 28px;
  color: white;
  vertical-align: center;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.navbar
{
  background-color: black;
 /* height: 52px;
 */ font-size: 18px;
}

 .nav ul {
   list-style: none;
   text-align: center;
}

.nav.navbar-nav li a
{
   color: white;
   background-color: black;
   border-left: 1px solid black;
   font-weight: 600;
}

.nav.navbar-nav li a:focus {
   color: white;
   background-color: black;
  
  font-weight: 600;
 }

.nav.navbar-nav li a:hover, .nav.navbar-nav li a:active {
   color: black;
   background-color: white;
 }

.nav ul li {
   display: inline-block;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
color:black;
background-color:white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
color:black;
background-color: white;
}



/* CHECK !!! */
body
{
  font-size: 18px;
}

.div h3,h4,h2,p,a
{
  text-align: center;
}
h3{
  text-align: center;
}

.skills
{
  margin-top:30px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 13px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
  border:1px solid black;
}

/* Media Queries */

@media screen and (min-width: 400px)
{
  #me
  {
    width: 300px;
    height: 265px;
  }
}
@media screen and (max-width: 400px)
{
  #me
  {
    width: 200px;
    height: 176px;
  }
}
@media screen and (max-width: 1000px)
{
  body
  {
    font-size: 15px;
  }
}
