<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Stock Profit Calculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel= "stylesheet" type= "text/css" href="style.css">
</head>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home Page</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Stock Profit Calculator</a></li>
      <li><a href="Assignment2"> Stock Info</a></li>
    </ul>
  </div>
</nav>


<body bgcolor="#E6E6FA">
<div class="container">
<h2 style="text-align:center"> Stock Info finder</h2>
    <div class="row">
        <div class="col-sm-4">
            <form action="fin_info_calc" method="POST" bgcolor="#E6E6FA">
                <h4>Input</h4>
                <p><label>Stock Symbol:</label><input type="text" name="symbol"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-sm-4">
                <h4>Output</h4>

                {% if result %}
                <p>{{ result['output_dt'] }}</p>
                <p>{{ result['output_name'] }} {{ result['output_symbol'] }}</p>
                <p>{{ result['output_value'] }}</p>
                {% endif %}


        </div>
    </div>
</div>

</body>


</body>
</html>